In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/traffic.csv")

In [3]:
df.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['track_id', ' type', ' traveled_d', ' avg_speed', ' lat', ' lon',
       ' speed', ' lon_acc', ' lat_acc', ' time',
       ...
       ' lon_acc.224', ' lat_acc.224', ' time.224', ' lat.225', ' lon.225',
       ' speed.225', ' lon_acc.225', ' lat_acc.225', ' time.225', ' lat.226'],
      dtype='object', length=1361)>

In [4]:
df.shape

(991, 1361)

In [5]:
df.dropna()

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time,...,lon_acc.224,lat_acc.224,time.224,lat.225,lon.225,speed.225,lon_acc.225,lat_acc.225,time.225,lat.226
12,13,Car,90.68,10.201119,37.978947,23.734168,26.5552,0.0601,0.0031,0.0,...,-0.0002,0.0000,8.96,37.979182,23.733971,0.0000,-0.0001,0.0000,9.0,37.979182
15,16,Car,98.04,36.765940,37.978859,23.734198,35.3931,-0.0069,-0.0115,0.0,...,0.6500,0.4452,8.96,37.979532,23.733598,40.9069,0.6286,0.4291,9.0,37.979536
18,19,Car,112.88,36.283172,37.978739,23.734245,33.0552,-0.0297,0.0606,0.0,...,0.8443,-0.1127,8.96,37.979413,23.733704,37.2320,0.8583,-0.0952,9.0,37.979416
21,22,Motorcycle,130.43,48.910013,37.978605,23.734343,44.2060,-0.0185,-0.0449,0.0,...,-0.0987,0.6907,8.96,37.979517,23.733566,53.7788,-0.1167,0.6830,9.0,37.979522
22,23,Heavy Vehicle,132.98,32.346837,37.978613,23.734419,25.1777,-0.0512,0.1556,0.0,...,-0.8244,-0.2623,8.96,37.979223,23.733897,32.8055,-0.8476,-0.2740,9.0,37.979226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,987,Car,421.62,44.381487,37.979250,23.732085,42.3092,-0.0124,0.0363,236.0,...,-0.1300,-0.1171,244.96,37.978416,23.732784,43.1113,-0.1060,-0.1155,245.0,37.978413
987,988,Taxi,169.27,10.189972,37.975576,23.735660,27.3145,0.0437,-0.0628,236.0,...,0.9687,0.0893,244.96,37.975945,23.735292,29.2496,0.9950,0.0968,245.0,37.975946
988,989,Motorcycle,537.31,40.297876,37.975597,23.735707,39.8594,-0.0617,0.3367,236.4,...,-0.5591,-0.4460,245.36,37.976474,23.735763,27.0211,-0.5690,-0.4472,245.4,37.976477
989,990,Car,534.13,39.893649,37.975626,23.735725,35.6042,-0.1088,0.0804,236.6,...,0.1483,-0.2893,245.56,37.976374,23.735772,22.6185,0.1413,-0.2602,245.6,37.976376
990,991,Car,426.45,15.602009,37.979272,23.732123,35.3152,0.0466,-0.0358,236.6,...,-1.1071,0.1970,245.56,37.978631,23.732665,37.3757,-1.2237,0.2195,245.6,37.978628

In [6]:
df1 = pd.read_csv("../data/vehicle_details.csv")

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991 entries, 0 to 990
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   track_id     991 non-null    int64
 1    type        991 non-null    object
 2    traveled_d  991 non-null    float64
 3    avg_speed   991 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 31.1+ KB

In [10]:
df1.columns

Index(['track_id', ' type', ' traveled_d', ' avg_speed'], dtype='object')

In [11]:
df1[' type'].unique()

array([' Car', ' Bus', ' Medium Vehicle', ' Motorcycle', ' Heavy Vehicle',
       ' Taxi'], dtype=object)

In [13]:
df1.groupby(' type').mean(' avg_speed',' traveled_d')

                   track_id   traveled_d   avg_speed
 type
 Bus             431.925926   327.758889   16.664074
 Car             490.149780   309.218150   23.032397
 Heavy Vehicle   244.500000   163.687000   16.112155
 Medium Vehicle  506.809524   292.525714   18.017571
 Motorcycle      520.529412   329.752843   30.082837
 Taxi            489.032895   293.595855   20.037209